<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.student.job.mapper.ApplicationMapper">

    <insert id="addApplication">
        INSERT INTO application VALUE (null,#{u_id}, #{j_id}, null,#{a_status})
    </insert>

    <select  id="checkDuplicate" resultType="int">
        SELECT COUNT(*) FROM application WHERE u_id = #{u_id} AND j_id = #{j_id}
    </select >
    <select id="getApplicationList" resultType="com.student.job.pojo.Application">
        SELECT s_id FROM application WHERE j_id = #{j_id}
    </select>

    <select id="getJobIdsByUserId" resultType="java.lang.Integer">
        SELECT j_id FROM job WHERE u_id = #{u_id}
    </select>

</mapper>