<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.student.job.mapper.ApplicationMapper">

    <insert id="addApplication">
        INSERT INTO application VALUE (null,#{u_id}, #{j_id}, null,#{a_status})
    </insert>

    <select  id="checkDuplicate" resultType="int">
        SELECT COUNT(*) FROM applications WHERE s_id = #{u_id} AND j_id = #{j_id}
    </select >


</mapper>