<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.student.job.mapper.JobMapper">
    <insert id="addJob">
        insert into Job value(null,#{j_name},#{j_description},#{j_salary},#{j_hours},#{u_id},#{j_require},#{j_status})
    </insert>

    <insert id="AddRecord">
        INSERT into record (j_id,u_id) value(#{j_id},#{u_id})
    </insert>

    <update id="editJob">
        <!--动态sql-->
        update job
        <set>
            <if test="j_name != null and j_name !=''">
                j_name = #{j_name},
            </if>
            <if test="j_description != null and j_description !=''">
                j_description = #{j_description},
            </if>
            <if test="j_salary != null and j_salary !=''">
                j_salary = #{j_salary},
            </if>
            <if test="j_hours != null and j_hours !=''">
                j_hours = #{j_hours}
            </if>
            <if test="j_require != null and j_require !=''">
                j_require = #{j_require}
            </if>
        </set>
        where j_id = #{j_id}
    </update>

    <update id="updateStatusByJob">
        update job set j_status = #{j_status} where j_id = #{j_id}
    </update>


    <delete id="deleteJobByJID">
        delete from job where j_id = #{j_id}
    </delete>

    <select id="selectJobByUid" resultType="com.student.job.pojo.Job">
        select j_id,j_name,j_description,j_salary,j_hours,j_hours,u_id,j_require,j_status  from job where u_id = #{u_id}
    </select>

    <select id="selectAllJob" resultType="com.student.job.pojo.Job">
        select j_id,j_name,j_description,j_salary,j_hours,j_require,j_status,p_name  FROM job JOIN `publisher` WHERE job.u_id = publisher.u_id ORDER BY j_id ASC
    </select>

    <select id="SelectJobByJid" resultType="com.student.job.pojo.Job_Publisher">
        select j_id,j_name,j_description,j_salary,j_hours,j_require,job.u_id,p_name,p_telephone,p_address,p_email From job JOIN publisher WHERE job.u_id = publisher.u_id and job.j_id = #{jId}
    </select>

    <select id="SelectJobByLikeName" resultType="com.student.job.pojo.Job">
        select * from Job
        <where>
            <if test="u_id != null and u_id != ''">
                u_id = #{u_id}
            </if>
            <if test="j_name != null and j_name != ''">
                and j_name like concat('%',#{j_name},'%')
            </if>
        </where>
    </select>

    <select id="SelectJob_publish" resultType="com.student.job.pojo.Job_Publisher">
        select j_id,j_name,j_description,j_salary,j_hours,j_require,j_status,p_name  FROM job JOIN `publisher` WHERE job.u_id = publisher.u_id ORDER BY j_id ASC
    </select>


    <select id="isRecord" parameterType="java.util.List" resultType="com.student.job.pojo.Job_Publisher">
        SELECT j_id, j_name,j_description,j_salary,j_hours,j_require,p_name,p_telephone,p_address,p_email,p_introduction FROM job JOIN publisher ON job.u_id = publisher.u_id WHERE j_id IN
        <foreach collection="jids" item="j_id" open="(" close=")" separator=",">#{j_id}</foreach>
        AND j_id = #{j_id}
    </select>
</mapper>