<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.student.job.mapper.JobMapper">
    <insert id="addJob">
        insert into Job value(null,#{j_name},#{j_description},#{j_salary},#{j_hours},#{u_id},#{j_require},#{j_status})
    </insert>
    <update id="editJob">
        <!--动态sql-->
        update job
        <set>
            <if test="j_name != null and j_name !=''">
                j_name = #{j_name},
            </if>
            <if test="j_description != null and j_description !=''">
                j_description = #{j_description},
            </if>
            <if test="j_salary != null and j_salary !=''">
                j_salary = #{j_salary},
            </if>
            <if test="j_hours != null and j_hours !=''">
                j_hours = #{j_hours}
            </if>
            <if test="j_require != null and j_require !=''">
                j_require = #{j_require}
            </if>
        </set>
        where j_id = #{j_id}
    </update>

    <delete id="deleteJobByJID">
        delete from job where j_id = #{j_id}
    </delete>

    <select id="selectJobByUid" resultType="com.student.job.pojo.Job">
        select j_id,j_name,j_description,j_salary,j_hours,j_hours,u_id,j_require,j_status  from job where u_id = #{u_id}
    </select>

    <select id="selectAllJob" resultType="com.student.job.pojo.Job">
        select * from job
    </select>

    <select id="SelectJobByJid" resultType="com.student.job.pojo.Job">
        select * from Job where j_id = #{j_id}
    </select>

    <select id="SelectJobByLikeName" resultType="com.student.job.pojo.Job">
        select * from Job
        <where>
            <if test="u_id != null and u_id != ''">
                u_id = #{u_id}
            </if>
            <if test="j_name != null and j_name != ''">
                and j_name like concat('%',#{j_name},'%')
            </if>
        </where>
    </select>

    <select id="SelectJob_user" resultType="com.student.job.pojo.Job">
        select j_name,j_description,j_salary,j_hours,j_hours,j_require,j_status,u_name  FROM job JOIN `user` WHERE job.u_id = user.u_id
    </select>
</mapper>