<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.student.job.mapper.PublisherMapper">

    <!-- 插入发布者 -->
    <insert id="insertPublisher" parameterType="com.student.job.pojo.Publisher">
        INSERT INTO publisher (p_id, p_name, p_email,p_telephone,p_address,p_introduction)
        VALUES (#{p_id}, #{p_name}, #{p_email},#{p_telephone},#{p_address},#{p_introduction})
    </insert>

    <!-- 根据ID查询发布者 -->
    <select id="getPublisherById" resultType="com.student.job.pojo.Publisher">
        SELECT * FROM publisher WHERE u_id = #{u_id}
    </select>

    <!-- 查询所有发布者 -->
    <select id="getAllPublishers" resultType="com.student.job.pojo.Publisher">
        SELECT * FROM publisher
    </select>
    <select id="selectStuByPubUid" resultType="com.student.job.pojo.Student">
        SELECT
            job.j_id,job.j_name,
            student.s_name,student.s_age,student.s_gender,student.s_phone,student.s_email,
            student.s_college,student.s_prize,student.s_experience
        FROM
            job
                LEFT JOIN application on job.j_id = application.j_id
                LEFT JOIN student on application.u_id = student.u_id
        WHERE
            job.u_id = #{u_id}
    </select>

    <!-- 更新发布者 -->
    <update id="updatePublisher" parameterType="com.student.job.pojo.Publisher">
        UPDATE publisher
        SET p_name = #{p_name}, p_email = #{p_email},p_telephone =#{p_telephone}, p_address=#{p_address},p_introduction=#{p_introduction}
        WHERE u_id = #{u_id}
    </update>

    <!-- 删除发布者 -->
    <delete id="deletePublisherById" parameterType="int">
        DELETE FROM publisher WHERE p_id = #{p_id}
    </delete>

</mapper>