<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.student.job.mapper.StudentMapper">
    <update id="updateStudent" parameterType="com.student.job.pojo.Student">
        Update student
        SET s_name = #{s_name}, s_gender = #{s_gender},s_age =#{s_age},
        s_phone=#{s_phone},s_email=#{s_email},s_intro=#{s_intro}
        where u_id = #{u_id}
    </update>

    <select id="getStuList" resultType="com.student.job.pojo.Student">
        select * from student
    </select>

    <select id="selectStudentByUid" resultType="com.student.job.pojo.Student">
        select s_id,s_name,s_gender,s_age,s_phone,s_email,s_intro,u_id  from student where u_id = #{u_id}
    </select>

    <select id="checkU_idExits" resultType="java.lang.Boolean">
        SELECT EXISTS (SELECT 1 FROM student WHERE u_id = #{u_id})
    </select>
    <select id="getStudentByUid" resultType="com.student.job.pojo.Student">
        select*from student where u_id =#{u_id}
    </select>
    <insert id="addStudent">
        insert into student value(null,#{s_name},#{s_gender},#{s_age},#{s_phone},#{s_email},#{s_intro},#{u_id})
    </insert>
</mapper>