<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.student.job.mapper.UserMapper">
    <insert id="insertUser">
        insert into user
        (u_id, u_name, u_pass, telephone, role)
        values
        (null, #{u_name}, SHA1(#{u_pass}), #{telephone}, #{role})
    </insert>

<!--    <select id="selectByNameAndPass" resultType="com.student.job.pojo.User">-->
<!--        select * from user where u_name = #{u_name} and u_pass = #{u_pass}-->
<!--    </select>-->

    <select id="getUserByName" resultType="com.student.job.pojo.User">
        select * from user where u_name = #{u_name}
    </select>

    <select id="selectAllUser" resultType="com.student.job.pojo.User">
        select * from user
    </select>
    <select id="selectByTelAndPass" resultType="com.student.job.pojo.User">
        select * from user where telephone = #{telephone} and u_pass = #{u_pass}
    </select>

    <select id="selectByTelephone" resultType="com.student.job.pojo.User">
        select * from user where telephone = #{telephone}
    </select>

    <select id="checkTelephoneExits" resultType="java.lang.Boolean">
<!--            select count(*) from user where telephone = #{telephone}-->
        SELECT EXISTS (SELECT 1 FROM user WHERE telephone = #{telephone})
    </select>


</mapper>